- page_title(["About Us"])
.col-sm-12
  %header
    .pull-right= link_to "Edit Content", edit_about_path(@about), class: "btn btn-sm btn-primary"
    %h2= "About Us"
  .content
    = @about.content.html_safe
