// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  width: 100%;
  min-height: 790px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

body {
  font-family: Roboto Condensed, 'Open Sans', sans-serif;
  font-size: 15px; 
  background-color: #f9f9f9;
}

ul.nav.navbar-nav {
  text-align: center;
}

.navbar-brand {
  padding: 0;
  padding-left: 15px;
  height: 0;
  margin-top: 5px;

  .logo {
    width: 40px;
    height: 40px;
  }
}

.form-actions {
  float: right;
  margin-top: 10px;
}

form {
  legend {
    border-bottom: none;
  }
}

ul {
  list-style-type: none;
}

.list-group-item {
  background-color: transparent;
  border: 0px;
}

a {
  cursor: pointer;
  color: #555;
}

a:hover {
  color: #b14a2a;
  text-decoration: none;
}

.child {
  display: none;
  margin-top: 5px;
  margin-bottom: 0;
}

.parent.active {
  .category {
    color: #990c16;
  }
}

.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
  background-color: transparent;
  border: 0px;
}
.navbar-inverse .navbar-nav > li.current > a {
  color: #c82b22;  
}

.note-editable, .description, .content {
  ul {
    list-style-type: disc;
  }
}

