.container
  nav
    display: table
    margin: 0 auto

#carousel-example-generic
  min-height: 318px
  // .pagination.active 
  //   a.page-link
  //     background-color: #b74d32
  //     border-color: #b71724
