%p.lead
  = "Categories"
.list-group
  - @categories.each do |category|
    = link_to category.name.titleize, category_products_path(category.name), class: "list-group-item #{"active" if active_category_menu?(category)}"