%p.lead
  = "Categories"
%ul.list-group
  - @categories.each do |category|
    %li.list-group-item.parent
      = content_tag "a", category.name, id: category.id, class: "category"
      / = link_to category.name, category_products_path(category.name.downcase), id: category.id, class: "category"
      /  Use this when it is Ajaxified

      %ul.list-group.child{ "data-category-id" => "#{category.id}" }
        - category.sub_categories.each do |sub|
          %li.list-group-item
            = link_to sub.name, sub_category_products_path(sub.name.downcase), id: "sub-category", remote: true

%hr
