.form-group.select.product_sub_category_id.required
  %label.select.required.control-label{for: "product_sub_category_id"}
    = "Sub category"
  - if collection.present? && sub_category.present?
    = select_tag "product[sub_category_id]", options_from_collection_for_select(collection, "id", "name", sub_category.id), class: "select required form-control", include_blank: false, disabled: true, readonly: true
  - elsif collection.present?
    = select_tag "product[sub_category_id]", options_from_collection_for_select(collection, "id", "name"), class: "select required form-control", include_blank: "You can now select sub categories"
  - else
    = select_tag "product[sub_category_id]", "", class: "select required form-control", include_blank: "Choose a category first to enable", disabled: true
