/ = f.input :sub_category_id, collection: @sub_categories_collection ? @sub_categories_collection.for_select : @sub_categories, include_blank: "Choose a category first to enable", input_html: { disabled: true }

.form-group.select.product_sub_category_id.optional
  %label.select.optional.control-label{for: "product_sub_category_id"}
    Sub category
  - if collection.present?
    = select_tag "product[sub_category_id]", options_from_collection_for_select(collection, "id", "name"), class: "select optional form-control", include_blank: "Choose a category first to enable"
  - else
    = select_tag "product[sub_category_id]", "", class: "select optional form-control", include_blank: "Choose a category first to enable", disabled: true
