.container
  .row-fluid
    .col-sm-3
      = render "categories"

    .col-sm-9
      .row
        .col-sm-12
          .pull-right
            = link_to "Add Product", new_product_path, class: "btn btn-sm btn-primary"

      %br
      = render "slide_image"

      = render "products"
