-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-fixed-top{"role" => 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag "logo.jpg", class: 'logo'
    .collapse.navbar-collapse{:id => "#bs-example-navbar-collapse-1"}
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'


